ftp.redhat.com/
combined/
control/
logs/
specs/
requires/
build/
install/
_build/
_static/
_templates/
.*.sw[po]
*.py[co]
6.[0-9]/

skein.cfg.*

# ignore files with sensitive data
gh_settings.py
github_settings.py
output
